
.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content .row {
  height: 100%;
  display: flex;
}
.content .row .col {
  flex: 1;


}

.red {
  background: red;
}
.green {
  background: green;
}
.yellow {
  background: yellow;
}